---
import SocialGithub from "./socialButtons/github.astro";
import SocialLinkedin from "./socialButtons/linkedin.astro";
import SocialBuymeacoffee from "./socialButtons/buymeacoffee.astro";
import SocialInstagram from "./socialButtons/instagram.astro";
import SocialMastodon from "./socialButtons/mastodon.astro";
import SocialMatrix from "./socialButtons/matrix.astro";

interface Props {
    outerClass?: string;
}

const { outerClass = "h-16" } = Astro.props;
---

<div class={outerClass}>
    <div
        class="flex h-full flex-row flex-wrap gap-2 [&:has(:hover)>:not(:hover)]:opacity-40 [&>*:hover]:scale-110 [&>*]:transition-all">
        <SocialGithub />

        <SocialLinkedin />

        <SocialBuymeacoffee />

        <SocialInstagram />

        <SocialMastodon />

        <SocialMatrix />
    </div>
</div>
