---
import { Card } from "flowbite-svelte";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const allBlogPosts = await getCollection("blog");
---

<Layout title="Blog" description="Tobias Kendlbacher's personal blog">
    <!--div class="grid grid-cols-1 grid-rows-[masonry] gap-2 sm:grid-cols-2 md:grid-cols-[repeat(auto-fill,340px)]"-->
    <div class="flex flex-row flex-wrap gap-3 [&>*]:min-w-[300px]">
        {
            allBlogPosts.map((post) => (
                <Card href={"/blog/" + post.slug}>
                    <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                        {post.data.title}
                    </h5>
                    <p class="font-normal leading-tight text-gray-700 dark:text-gray-400">
                        {post.data.date.toISOString().split("T")[0]}
                        {" - "}
                        {post.data.language === "de" ? "German" : "English"}
                    </p>
                </Card>
            ))
        }
    </div>
</Layout>
