---
import InstagramIcon from "@assets/icons/instagram.svg";
import { Image } from "astro:assets";
import LinkButton from "../LinkButton.astro";
---

<!-- Instagram -->
<div class="aspect-square h-full">
    <LinkButton
        href="/r/instagram"
        class="block h-full w-full p-0"
        ariaLabel="Instagram">
        <Image
            src={InstagramIcon}
            class="h-full w-full saturate-150"
            alt="Instagram"
        />
    </LinkButton>
</div>
