---
import { Button } from "flowbite-svelte";
import InstagramIcon from "@assets/icons/instagram.svg";
import { Image } from "astro:assets";
---

<!-- Instagram -->
<div class="aspect-square h-full">
    <Button
        class="h-full w-full p-0"
        href="https://www.instagram.com/kendlbat"
        color="none">
        <Image
            src={InstagramIcon}
            class="h-full w-full saturate-150"
            alt="Instagram"
        />
    </Button>
</div>
