---
import { Button } from "flowbite-svelte";
import { LinkedinSolid } from "flowbite-svelte-icons";
---

<!-- LinkedIn -->
<div class="aspect-square h-full">
    <Button
        class="aspect-square h-full w-full bg-[#0077b5] p-0"
        href="https://www.linkedin.com/in/kendlbat"
        color="none">
        <LinkedinSolid class="aspect-square h-2/3 w-2/3 text-white" />
    </Button>
</div>
