@font-face {
    font-family: "JetBrains Mono";
    src: local("JetBrains Mono"), url("../assets/fonts/JetBrainsMono-Regular.woff2");
    font-display: swap;
}

:root * {
    box-sizing: border-box;
}

#webconsole-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 5px 8px 40px;
}

.webconsole-container {
    background-color: #000000;
    color: #ffffff;
    font-family: "JetBrains Mono", monospace;
    font-size: 11pt;
    white-space: pre;
    overflow: auto;
}

.webconsole-prompt {
    display: table;
}

.webconsole-input-container {
    display: table-cell;
    width: 100%;
}

.webconsole-input {
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-family: "JetBrains Mono", monospace;
    margin: 0;
    padding: 0;
    font-size: 11pt;
    width: 100%;
    tab-size: 4;
}

.webconsole-input:focus {
    outline: none;
}

.webconsole-container a {
    color: #ffffff;
    text-decoration: underline;
}

.webconsole-container a:hover {
    color: #ffffff;
    text-decoration: none;
}

.webconsole-container a:active {
    color: #ffffff;
    text-decoration: none;
}

.webconsole-container a:visited {
    color: #ffffff;
    text-decoration: underline;
}

.webconsole-container h1, .webconsole-container h2, .webconsole-container h3, .webconsole-container h4, .webconsole-container h5, .webconsole-container h6, .webconsole-container p {
    margin: 0;
}

.webconsole-output-line {
    margin: 0;
}